RewriteEngine On
RewriteBase /

# 1. Vynucení HTTPS a WWW
RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteRule ^(.*)$ https://www.om-design.cz/$1 [L,R=301]

# 2. Interní přesměrování pro SPA
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.html [L]
