RewriteEngine On

# 1. Vynucení HTTPS a WWW
RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteRule ^(.*)$ https://www.om-design.cz/$1 [L,R=301]

# 2. Interní přesměrování pro čisté URL
# Pokud soubor nebo složka fyzicky neexistuje, použij index.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([a-zA-Z0-9_-]+)$ index.html [L]